<include file="Public:header" />
<div class="page-title">
    <div class="title-env">
        <h1 class="title">用户钱包明细</h1>
        <p class="description"></p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="__MODULE__/Index/index"><i class="fa-home"></i>Home</a>
            </li>
            <li class="active">
                <strong>用户钱包明细</strong>
            </li>
        </ol>
    </div>
</div>
<!-- Errors container -->
<div class="message-container">

</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form" class="form-horizontal" action="__CONTROLLER__/userWalletlist" method="get">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="member_name">用户名</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" name="member_name" id="username" placeholder="请输入用户名/真实姓名/用户编号" value="" >
                        </div>
                        <button class="btn btn-secondary col-sm-1">查询</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-small-font table-bordered table-striped" cellspacing="0">
            <thead>
                <tr>	
                    <th>序号</th>
                    <th>用户名</th>
                    <th>可用金额(元)</th>
                    <th>冻结金额(元)</th>
                    <th>变更时间</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($result as $v){ ?>
                <tr>
                    <td><?php echo $v['zqlg_id'] ?></td>
                    <td><?php echo $v['zqlg_member_name'] ?></td>
                    <td><span class="text-success"><?php echo $v['zqlg_av_amount'] ?></span></td>
                    <td><?php echo $v['zqlg_freeze_amount'] ?></td>
                    <td><?php echo $v['zqlg_add_time'] ?></td>
                    <td><?php echo $v['zqlg_desc'] ?></td>
                </tr>
                <?php }?>
            </tbody>
        </table>
        <div class="row"><div class="col-xs-6"><div class="dataTables_info" id="example-1_info" role="status" aria-live="polite">共查询到<?php echo $count;?>条结果</div></div><div class="col-xs-6"><div class="dataTables_paginate paging_simple_numbers" id="example-1_paginate"><?php echo $show;?></div></div></div>
    </div>
</div>
<!-- Main Footer -->
<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
<!-- Or class "fixed" to  always fix the footer to the end of page -->
<footer class="main-footer sticky footer-type-1">
    <div class="footer-inner">
        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2016 
            <strong>中孝科技（北京）有限公司</strong> 
        </div>
        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">
            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>				
        </div>					
    </div>				
</footer>
</div></div>
<!-- 界面加载效果 -->
<!-- -->
<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>

<!-- Imported styles on this page -->
<link rel="stylesheet" href="__PUBLIC__/assets/js/datatables/dataTables.bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/assets/js/daterangepicker/daterangepicker-bs3.css">

<!-- Bottom Scripts -->
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/TweenMax.min.js"></script>
<script src="__PUBLIC__/assets/js/resizeable.js"></script>
<script src="__PUBLIC__/assets/js/joinable.js"></script>
<script src="__PUBLIC__/assets/js/xenon-api.js"></script>
<script src="__PUBLIC__/assets/js/xenon-toggles.js"></script>
<script src="__PUBLIC__/assets/js/datatables/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/assets/js/moment.min.js"></script>

<!-- Imported scripts on this page -->
<script src="__PUBLIC__/assets/js/datatables/dataTables.bootstrap.js"></script>
<script src="__PUBLIC__/assets/js/datatables/yadcf/jquery.dataTables.yadcf.js"></script>
<script src="__PUBLIC__/assets/js/datatables/tabletools/dataTables.tableTools.min.js"></script>
<script src="__PUBLIC__/assets/js/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/assets/js/inputmask/jquery.inputmask.bundle.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="__PUBLIC__/assets/js/xenon-custom.js"></script>
</body>
</html>