<include file="Public:header" />
<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">优券分提款清单</div>
				</div>
				<div class="panel panel-default">
						<div class="panel-body">
							
							<form role="form" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-3">日期从 (DD-MM-YYYY)：</label>
									
									<div class="col-sm-2">
										<input type="email" class="form-control" id="field-3" placeholder="">至
										<input type="email" class="form-control" id="field-3" placeholder="">										
									</div>
								</div>
							
								<div class="form-group-separator"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-3">状态：</label>
									
									<div class="col-sm-2">										
										<select class="form-control">
											<option>全部</option>
											<option>等候</option>
											<option>批准</option>
											<option>拒绝</option>
											<option>Processed</option>
											<option>处理中</option>
										</select>																
									</div>
								</div>								
								<div class="form-group-separator"></div>
							</form>							
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label" for="field-1"></label>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success"  style="width: 80px; background: #ccc; color:#515151;">提交</button>
						</div>
					</div>
			</div>
			
			<div class="panel panel-default">
	        <form role="forl" id="rootwizard" class="form-wizard validate" novalidate="novalidate">				
				<ul class="tabs">
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							序号
							<span></span>	
							<span></span>							
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							会员编号
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-3" data-toggle="tab">
							会员名称
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							银行账户号码
							<span></span>	
							<span></span>						
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							帐户名称
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-3" data-toggle="tab">
							银行名称
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-3" data-toggle="tab">
							日期
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							数额
							<span></span>	
							<span></span>							
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							实际数额	
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-3" data-toggle="tab">
							行政费
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							批准状态
							<span></span>	
							<span></span>						
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-2" data-toggle="tab">
							备注
							<span></span>
							<span></span>
						</a>
					</li>
					<li class="ms-hover">
						<a href="#fwv-3" data-toggle="tab">
							行动
							<span></span>
							<span></span>
						</a>
					</li>
				</ul>
			</form>
	    </div>
<include file="Public:footer" />