<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>test3-一维数组的分配</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link href="" rel="stylesheet">
		<script type="text/javascript">
			
		</script>
	</head>
	
	<body>
		索引数组：<br/>
		{$arr1[0]}-{$arr1[1]}-{$arr1[2]}-{$arr1[3]}<br/>
		{$arr1.0}-{$arr1.1}-{$arr1.2}-{$arr1.3}<hr/>
		键值数组：<br/>
		{$arr2['art1']}-{$arr2['art2']}-{$arr2['art3']}-{$arr2['art4']}<br/>
		{$arr2.art1}-{$arr2.art2}-{$arr2.art3}-{$arr2.art4}<hr/>

		二维数组：<br/>
		{$arr[0]['name']}-{$arr[0]['age']}-{$arr[0]['sex']}
	</body>
</html>