<include file="Public:header" />
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><i class="fa fa-key"></i>中孝教学视频</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr style="color:#999;">
							<th class="col-sm-2">序号</th>
							<th>标题</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer" />