<include file="Public:header" />
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">转账至钱包</div>
            </div>
            <div class="panel-body">
                <div class="errors-container"></div>
                <form role="form" class="form-horizontal" >
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">可提取证券数量</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  id="money" name='money' value="<?php echo $money['securities'] ? $money['securities'] : '0.00'; ?>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">当前证券兑换率</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control"  id="rate" name='rate' value="{$rate.money}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-6">扣除手续费(5%)</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="poundage" name='poundage' value="{$poundage}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-6">实际到帐金额</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="trueMoney" name='trueMoney' value="{$trueMoney}" disabled>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <a href="javascript:void(0)" id="sub" class="btn btn-red btn-icon btn-icon-standalone"  >
                            <i class="fa-magic"></i>
                            <span>确认提取</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#sub').click(function(){var money = $("#money").val();
//        alert(money)
        if (money <= 0) {
            $(".errors-container").html('<div class="alert alert-danger">\
                        <button type="button" class="close" data-dismiss="alert">\
                                <span aria-hidden="true">&times;</span>\
                                <span class="sr-only">Close</span>\
                        </button>\
                        暂无可提现证券\
                </div>');
            $(".errors-container .alert").hide().slideDown();
            return false;
        }
        jQuery('#confirmOrder').modal('show');
            $('.subbuy').click(function(){
            $.post('__MODULE__/Unit/withdraw', {money: $("#money").val()}, function (res) {
                //                console.log(res.code);
                if (res.code == 0) {
                    window.location.href = '__MODULE__/Index/index';
                } else {
                     $(".errors-container").html('<div class="alert alert-danger">\
                            <button type="button" class="close" data-dismiss="alert">\
                                    <span aria-hidden="true">&times;</span>\
                                    <span class="sr-only">Close</span>\
                            </button>\
                            ' + res.message + '&nbsp;&nbsp;\
                    </div>');
                    $(".errors-container .alert").hide().slideDown();
                }
                jQuery('#confirmOrder').modal('hide');
                
            }, 'json');
            return false;
        })
    });
        
});

</script>
<include file="Public:footer" />
<div class="modal fade" id="confirmOrder" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">确认提现</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="field-1" class="control-label">可提取证券数量：</label>
                            <label for="field-1" id="zqsl" class="control-label-content"><?php echo $money['securities'] ? $money['securities'] : '0.00'; ?></label>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">当前证券兑换率：</label>
                            <label for="field-1" id="ggl" class="control-label-content">{$rate.money}</label>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">扣除手续费(5%)：</label>
                            <label for="field-1" id="sjzq" class="control-label-content">{$poundage}</label>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="control-label">实际到帐金额：</label>
                            <label for="field-1" id="zfje" class="control-label-content">{$trueMoney}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info subbuy" data-dismiss="modal">确认支付</button>
                </div>
            </div>
        </div>
    </div>